* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.diagonal-signin {
  position: absolute;
  top: -210px;
  left: -250px;
  width: 150%;
  height: 52vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  
  transform: rotate(-12deg);
  z-index: -1;
}

.diagonal-signup {
  position: absolute;
  bottom: -200px;
  left: -450px;
  width: 150%;
  height: 52vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  
  transform: rotate(-12deg);
  z-index: -1;
}

.wrapper {
    width: 100%;
    height: 100%;

}

.nav-bar {
    width: 100%;
    height: 68.2px;
    border-bottom: 0.0001px dashed rgb(161, 159, 159);
    display: flex;
    position: relative;
}

.nav-name {
    width: 1080px;
    margin: 0px auto;
    padding: 22px 16px;

    

    
}

.stripe-logo {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 800;     
  color: #32325d;        
  letter-spacing: -1px;         
}

.create-container {
    width: 508px;
    height: 668.5px;
    position: absolute;
    right: 300px;
    padding: 40px 44px;
    background-color: #fff;
    box-shadow:
    0 25px 45px rgba(50, 50, 93, 0.12),
    0 10px 18px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    font-size: 26px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -.2px;
    color: #414552;




}
