@font-face {
  font-family: "Sohna";
  src: 
       url("./fonts/Sohne-latin-basic\ \(1\).woff2") format("woff2");
       
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Sohna, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.diagonal-signin {
  position: absolute;
  top: -210px;
  left: -250px;
  width: 150%;
  height: 52vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  
  transform: rotate(-12deg);
  z-index: -1;
}

.diagonal-signup {
  position: absolute;
  bottom: -200px;
  left: -450px;
  width: 150%;
  height: 52vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transform: rotate(-12deg);
  z-index: -1;
}

.wrapper {
    width: 100%;
    height: 100%;
    

}


.nav-bar {
    width: 100%;
    height: 68.2px;
    border: none;
    display: flex;
    position: relative;
}

.nav-name {
    width: 1080px;
    margin: 0px auto;
    padding: 22px 16px;

    

    
}

.stripe-logo {
  font-family: Sohna, 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 800;     
  color: #ffffff;        
  letter-spacing: -1px;   
  cursor: pointer;      
  user-select: none;
}

.create-container {
    width: 540px;
    height: 580px;
    position: absolute;
    left: 580px;
    padding: 40px 44px;
    background-color: #fff;
    box-shadow:
    4px 1px 20px rgba(0, 0, 0, 0.08),
    -4px 0px 20px rgba(0, 0, 0, 0.08),
    0px -1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -.2px;
    color: #414552;
}

.email-container, .password-container {
    width: 100%;
    height: 72.5px;
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 40px;


}

.signup-container {
    height: 90%;

}

.name {
    font-size: 14px;
}

#forgot-password {
    text-align: right;
    margin: 0;
    padding: 0;

}



.email-container {
    margin-bottom: 0px;

}

.password-container {
    margin-top: 0px;
}

.input {
    width: 100%;
    height: 40px;
    color: rgb(60, 66, 87);
    font-size:  14px;
    line-height: 20px;
    font-weight: 300;
    cursor: text;
    border: none;
    box-shadow: 0px 0px 1px rgb(60, 66, 87);
    border-radius: 5px;
    text-indent: 10px;

}

p {
    display: inline;
    font-weight: 300;
    font-size: 15px;
}

button {
    width: 100%;
    height: 38.5px;
    background-color: #635bffa3;
    border: none;
    box-shadow: 
    2px 2px 10px rgba(0, 0, 0, 0.08),
    -2px -2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 26px;
    

}

button:hover {
    background-color: #635bff;
}
button:active {
    background-color: #635bffa3;
}

.grey {
    height: 70px;
    background-color: #f6f8f9;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    color: #414552;
    display: flex;
    justify-content: center;
    align-items: center;   
}

a {
    color: #635bff;
    font-size: 14px;
    font-weight: 300;
    padding-left: 3px;
    cursor: pointer;
}



