@font-face {
  font-family: "Sohna";
  src: 
       url("./fonts/Sohne-latin-basic\ \(1\).woff2") format("woff2"),
       url("./fonts/Sohne-latin-basic.woff2") format("woff2"),
       url("./fonts/Sohne-minus-latin-basic.woff2") format("woff2");
       
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: Sohna, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.diagonal-signin {
  position: absolute;
  top: -210px;
  left: -250px;
  width: 150%;
  height: 52vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  
  transform: rotate(-12deg);
  z-index: -1;
}

.diagonal-signup {
  position: absolute;
  bottom: -200px;
  left: -450px;
  width: 150%;
  height: 52vh;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  transform: rotate(-12deg);
  z-index: -1;
}

.wrapper {
    width: 100%;
    height: 100%;
   
    

}


.nav-bar {
    width: 100%;
    height: 68.2px;
    border: none;
    display: flex;
    position: relative;
}

.nav-name {
    width: 1080px;
    margin: 0px auto;
    padding: 22px 16px;

}

#logo {
    width: 1.9%;
    border-radius: 2px;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    border: none;
    box-shadow: none;
    background-repeat: no-repeat;
    
    
}
#logo:hover {
    transform: scale(1.15);
}


.vertical-line {
    width: 1px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.093);
    position: absolute;
    transform: translateX(-50%);
    z-index: -2;
}

#line-1 {
    left: 18%;
}

#line-2 {
    right: 18%;
}

.stripe-logo {
  width: 75px;
  font-family: Sohna, 'Inter', sans-serif;
  font-size: 26px;
  font-weight: 700;     
  color: #ffffff;        
  letter-spacing: -1px;   
  cursor: pointer;      
  user-select: none;
  text-decoration: none;
}

.create-container {
    width: 541px;
    height: 580px;
    position: absolute;
    left: 580px;
    padding: 48px;
    background-color: #fff;
    box-shadow:
    4px 1px 20px rgba(0, 0, 0, 0.08),
    -4px 0px 20px rgba(0, 0, 0, 0.08),
    0px -1px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    font-size: 26px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -.2px;
    color: #414552;
}

.email-container, .password-container {
    width: 100%;
    height: 72.5px;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 40px;


}

.signup-container {
    margin: 0px auto;
    width: 405px;
    height: 90%;

}

span {
    display: inline-block;
    font-weight: 400;
    padding-top: 15px;
}



.name {
    font-size: 14px;
}

#password-name {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;

}

#forgot-password {
    text-align: right;
    margin: 0;
    padding: 0;

}

#forgot-password-link {
    color: #635bff;
    font-size: 14px;
    font-weight: 400;
    padding-left: 3px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

#forgot-password-link:hover {
    color: black;
}



.email-container {
    margin-top: 30px;
    margin-bottom: 0px;

}

.password-container {
    margin-top: 12px;
}

.input {
    width: 100%;
    height: 44px;
    padding: 8px 16px;
    color: rgb(60, 66, 87);
    font-size:  16px;
    line-height: 28px;
    font-weight: 300;
    cursor: text;
    border: none;
    box-shadow: 0px 0px 1px rgb(60, 66, 87);
    border-radius: 5px;
    text-align: left;

}

label {
    display: inline-block;
    font-weight: 300;
    font-size: 15px; 
    transition: font-weight 0.3s ease-in-out;
    
}

label:hover {
    font-weight: 340;
}

button {
    width: 100.499%;
    height: 46.5px;
    background-color: #635bffa3;
    border: none;
    box-shadow: 
    2px 2px 10px rgba(0, 0, 0, 0.08),
    -2px -2px 10px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 32px;
    font-weight: 500;
    transition: background-color 0.3s ease-out;
    

}

button:hover {
    background-color: #635bff;
}
button:active {
    background-color: #635bffa3;
}

.grey {
    height: 70px;
    background-color: #f6f8f9;
    position: absolute;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    color: #414552;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#create-account-link {
    color: #635bff;
    font-size: 14px;
    font-weight: 400;
    padding-left: 3px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    text-decoration: none;
}

#create-account-link:hover {
    color: black;
    

}

#checkbox {
    user-select: none;
    cursor: pointer;
}

#TodoX {
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    left: 315px;
    bottom: 16px;
    color: #697386;
    cursor: pointer;
    transition: color 0.2s ease-in, font-weight 0.2s ease-out;
}

#TodoX:hover {
    color: #1f2020;
    font-weight: 400;
}

#privacy-terms {
    font-size: 14px;
    font-weight: 300;
    position: absolute;
    left: 395px;
    bottom: 16px;
    color: #697386;
    cursor: pointer;
    transition: color 0.2s ease-in, font-weight 0.2s ease-out;
}

#privacy-terms:hover {
    color: #1f2020;
    font-weight: 400;
}


